<section class="book">
  <img src="/images/{{book.filename}}" alt="{{book.description}}">
  <div class="book-details">
    <h3>{{book.title}}</h3>
    <p>By: {{book.author}}</p>
    <p>Exhibition open until: {{ format_date book.exhibition_date}}</p>
  </div>
</section>
